<div class="container-fluid">
  <div class="row ">
    <!-- left block -->
    <div class="col-lg-6 col-md-6 d-none d-md-block image-container mr-0">
      <!-- <div class="d-flex flex-column justify-content-center align-items-center">
        <fa-icon [icon]="faNewspaper" style="font-size: 35px; margin-right: 8px"></fa-icon>
      </div> -->

    </div>
    <!-- Right block  -->
    <div class="col-lg-6 col-md-6 form-container">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 form-box text-center" [formGroup]="fbFormGroup">
        <div class="logo mb-3">
          <img src="assets/n5.png" width="150px">
        </div>
        <div class="heading mb-4">
          <h4>Login into your account</h4>
        </div>

        <div class="col bg-light d-flex flex-column justify-content-center align-items-center" id="box">
          <div class="alert alert-info" role="alert" *ngIf="uiInvalidCredential">
            A simple danger alert—check it out!
          </div>



          <div>
            <input type="text" placeholder="Enter Username" class="form-control" formControlName="username" />
          </div>

          <div class="mt-1">
            <input type="password" placeholder="Enter Password" class="form-control" formControlName="password" />
          </div>
          <button id="hoverbtn" class="btn  btn-sm btn-warning mt-2 mb-2" [disabled]="!fbFormGroup.valid"
            (click)="loginProcessHere()">
            Login Here
          </button>



          <div style="color: #777">Don't have an account
            <a routerLink="/register" class="register-link">Register here</a>
           </div>
           <div>
            <a routerLink="/forget" class="register-link">Forget Password</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>